{% extends "base.njk" %}

{% block metaStuff %}
        <title>Hello</title>
{% endblock %}
    
{% block main %}
    <h2>Hi from {{yourName}}, NetId: {{netId}}, Visited: {{count}} times.</h2>

    

{% endblock %}