{% extends "clubBase.njk" %}
 

{% block main %}
   <h1>Welcome</h1>
   
   <p>Name: {{ tempUser.name }}</p>
   <p>Email: {{ tempUser.email }}</p>
   <p>Toughest Cheese: {{ tempUser.cheese }}</p>

{% endblock %}
