{% block header %}
        <header>     
            <nav>
                <ul class= "siteLinks">
                    <li><a href="./">Main Page</a></li>
                    <li><a href="./login">Login Page</a></li>
                    <li><a href="./membership">Sign Up Page</a></li>
                    <li><a href="./activities">Club Activities</a></li>
                </ul>
            </nav>
        </header>
{% endblock %}